/* ─────────────────────────────────────────────
 * Global
 * ───────────────────────────────────────────── */

* {
    font-family: "CaskaydiaMono Nerd Font", "CaskaydiaMono NF", monospace;
    font-size: 13px;
    font-weight: 500;
}


/* ─────────────────────────────────────────────
 * Waybar
 * ───────────────────────────────────────────── */

window#waybar {
    background-color: #11111b;
    color: #f9e2af;
}


/* ─────────────────────────────────────────────
 * Workspaces
 * ───────────────────────────────────────────── */

#workspaces {
  
}

#workspaces button {
    color: #7f849c;
    background-color: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    color: #f9e2af;
    background-color: #45475a;
    
}

#workspaces button:hover {
    color: #11111b;
    background-color: #89b4fa;
}


/* ─────────────────────────────────────────────
 * Common modules
 * ───────────────────────────────────────────── */

#window,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#battery {
    padding-left: 10px;
   
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ─────────────────────────────────────────────
 * Window
 * ───────────────────────────────────────────── */


/* ─────────────────────────────────────────────
 * Clock
 * ───────────────────────────────────────────── */

#clock {
    color: #cba6f7;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * CPU
 * ───────────────────────────────────────────── */

#cpu {
    font-weight: bold;
    color: #a6e3a1;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * Memory
 * ───────────────────────────────────────────── */

#memory {
    font-weight: bold;
    color: #74c7ec;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * Audio
 * ───────────────────────────────────────────── */

#pulseaudio {
    font-weight: bold;
    color: #cba6f7;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * Network
 * ───────────────────────────────────────────── */

#network {
    font-weight: bold;
    color: #f9e2af;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * Battery
 * ───────────────────────────────────────────── */

#battery {
    font-weight: bold;
    color: #b4befe;
    background-color: #1e1e2e;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-right: 10px;
}

#battery.warning {
    font-weight: bold;
    color: #b4befe;
    background-color: #1e1e2e;
}

#battery.critical {
    font-weight: bold;
    color: #b4befe;
    background-color: #1e1e2e;
}


/* ─────────────────────────────────────────────
 * Rofi
 * ───────────────────────────────────────────── */

#custom-rofi  {
    color: #89b4fa;
    background-color: #1e1e2e;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    padding: 0px 15px 0px 13px;
    border-radius: 8px;
    font-size: 18px;
   
}
#custom-dolphin,
#custom-nvim,
#custom-kitty
{
    
    background-color: #1e1e2e;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    padding: 0px 15px 0px 13px;
    border-radius: 8px;
    font-size: 13px;
   
}
#custom-dolphin{
color: #81c8be;
}
#custom-nvim{
color: #a6e3a1;
}
#custom-kitty{
color: #ef9f76;
}